@font-face{
    font-family: 'cooper';
    src: url('./fonts/Cooper-Black.woff2');
}

*{
    padding: 0;
    margin:0;
}   

body{
    background-image: url('./imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

nav{
    width: 500px;
    display:flex;
    justify-content:space-around;
    margin-top: 8px;
    margin-bottom: 8px;
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
}

button{
    padding: 1rem;
    background-color: #dc5283;
    border-radius: 20px;
    border: none;
    font-family: cooper;
    color: #eecf8e;
    font-size: 1.5rem;
    width: 156px;
}

button:hover{
    background-color: #db84a3;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.container{
    display:flex;
    flex-direction:column;
    width: 500px;
    background-color: #f2ded7;
    border-radius: 20px;
    padding: 2.5rem;
    text-align: center;
    gap: 18px;
}

.container > h1{
    color: #e30513;
    font-weight: normal;
    font-family: cooper;
}

.container > div{
    background-color: beige;
    border-radius: 15px;
    padding: 1.5rem;
}

h2{
    color: #60cae1;
}

.quote{
    display:flex;
    flex-direction:column;
}

.quote > span{
    align-self: flex-end;
}

.food, .member{
    display:grid;
    grid-template-columns:1fr 2fr;
    gap: 8px;
}

.food > img, .member > img{
    border-radius:100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.so-hot{
    display: flex;
    justify-content: center;
    align-items: end;
}

.so-hot-img{
    display: inline;
    width: 3rem;
    height: 1.5rem;
    object-fit: contain;
}
